<div class="firstSection">
     <div class="row" style="margin:0;">
        
         <div class="col-12 col-lg-5" >
            <div  style="display:flex;align-items:center; height:100%;">
             <div class="col-10" style="padding-left:20px;">
                    <hr class="blueBorder" />
                    <h1 style="color:white; font-family:Rubik;">Secure PC Monitors With</h1>
                    <h1 style="color:white; font-family:Rubik;">watermark </h1>
                    <br />
                    <p  style="color:#D2D2D2; font-size:1rem; font-family:Roboto;">If you are looking for a solution to protect your employees's monitors
                        from being captured by mobile phones or peeping eyes, then ScreenID is
                        your best fit. By displaying screen Watermark on all of the windows
                        applications and documents.
                    </p>
                    <br />
                    <div style="display:inline-flex;">
                       <img src="~/Images/downarrow.png"  style="width:23px;"/>
                       <h6 style="color:#0097C8; font-family:Rubik; padding-left:8px;"> Find Out How!</h6>
                    </div>
              </div>
            </div>
        </div>

        <div class="col-12 col-lg-7">
          <div  style="display:flex;align-items:center; height:100%;">
            <img src="~/Images/PCs.png" style="width:100%;">
          </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="row mt-4">
    
        <div class="col-12">
            <hr class="blueBorder"/>
            <h2 style="color:#0097C8; font-family:Rubik;">Key Features</h2>
            <br />
            <label class="description">ScreenID displays predefined watermark text and images on windows screens and is floating on all active applications. </label>
            <label class="description">   A watermark will also appear in the screenshot taken by the user.</label>
        </div>

        <div class="row">
            <div class="col-12 col-md-4" style="display: flex;flex-direction: column;align-items: center;" >
                <div style="position: relative;top: 32px;display: flex;justify-content: center;z-index: 100;width: fit-content;overflow: hidden;border-radius: 50%;">
                    <img src="/Images/imac.png" style="background-color: white;  padding: 10px;width: 60px;" />
                </div>
                <div  style="border-radius: 5px;background-color: transparent; height: 115px;width: 100%;display: flex;justify-content: center;">
                    <div class="card" style="height: 100%;background-color: #0097C8;align-items: center; width: 75%;display:flex;justify-content: center;text-align:center;">
                        <span class="font-weight-bold" style="color:white; padding-top:20px;padding-left:8px;padding-right:8px;">Client Side Windows Agent</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4" style="display: flex;flex-direction: column;align-items: center;">
                <div style="position: relative;top: 32px;display: flex;justify-content: center;z-index: 100;width: fit-content;overflow: hidden;border-radius: 50%;">
                    <img src="/Images/edit.png" style="background-color: white; padding: 10px;width: 60px;" />
                </div>
                <div style="border-radius: 5px;background-color: transparent; height: 115px;width: 100%;display: flex;justify-content: center;">
                    <div class="card" style="height: 100%;background-color: #0097C8;align-items: center; width: 75%;display: flex;justify-content: center; text-align:center;">
                        <span class="font-weight-bold" style="color:white; padding-top:20px;padding-left:8px;padding-right:8px;">Configurable Watermark Content</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" style="display: flex;flex-direction: column;align-items: center;">
                <div style="position: relative;top: 32px;display: flex;justify-content: center;z-index: 100;width: fit-content;overflow: hidden;border-radius: 50%;">
                    <img src="/Images/slider.png" style="background-color: white; padding: 10px;width: 60px;" />
                </div>
                <div style="border-radius: 5px;background-color: transparent; height: 115px;width: 100%;display: flex;justify-content: center;">
                    <div class="card" style="height: 100%;background-color: #0097C8;align-items: center; width: 75%;display: flex;justify-content: center; text-align:center;">
                        <span class="font-weight-bold" style="color:white; padding-top:20px;padding-left:8px;padding-right:8px;">Centralized Backend Configuration for All Agents</span>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-12 col-md-4" style="display: flex;flex-direction: column;align-items: center;">
                <div style="position: relative;top: 32px;display: flex;justify-content: center;z-index: 100;width: fit-content;overflow: hidden;border-radius: 50%;">
                    <img src="/Images/screen.png" style="background-color: white;padding: 10px;width: 60px;" />
                </div>
                <div style="border-radius: 5px;background-color: transparent; height: 115px;width: 100%;display: flex;justify-content: center;">
                    <div class="card" style="height: 100%;background-color: #0097C8;align-items: center; width: 75%;display: flex;justify-content: center;text-align:center;">
                        <span class="font-weight-bold" style="color:white; padding-top:20px;padding-left:8px;padding-right:8px;">Support Dual Monitors</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4"  style="display: flex;flex-direction: column;align-items: center;">
                <div style="position: relative;top: 32px;display: flex;justify-content: center;z-index: 100;width: fit-content;overflow: hidden;border-radius: 50%;">
                    <img src="/Images/windows.png" style="background-color: white;  padding: 10px;width: 60px;" />
                </div>
                <div style="border-radius: 5px;background-color: transparent; height: 115px;width: 100%;display: flex;justify-content: center;">
                    <div class="card" style="height: 100%;background-color: #0097C8;align-items: center; width: 75%;display: flex;justify-content: center; text-align:center;">
                        <span class="font-weight-bold" style="color:white; padding-top:20px;padding-left:8px;padding-right:8px;">Support Windows 8 and later(32bit,64bit)</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" style="display: flex;flex-direction: column;align-items: center;">
                <div style="position: relative;top: 32px;display: flex;justify-content: center;z-index: 100;width: fit-content;overflow: hidden;border-radius: 50%;">
                    <img src="/Images/padlock.png" style="background-color: white; border-radius: 0px 0px 30px 24px; padding: 6px;width: 60px;" />
                </div>
                <div style="border-radius: 5px;background-color: transparent; height: 115px;width: 100%;display: flex;justify-content: center;">
                    <div class="card" style="height: 100%;background-color: #0097C8;align-items: center; width: 75%;display: flex;justify-content: center;text-align:center;">
                        <span class="font-weight-bold" style="color:white; padding-top:20px; padding-left:8px;padding-right:8px; ">Client Agent Protection</span>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </div>


    <br />
    <div class="row mt-4">
    
        <div class="col-12 col-md-6">
            
            <div style="width:90%; height:85%;display:flex;align-items: flex-start;background-image:url('../Images/Centralized Administration- BG Title.png');background-repeat: no-repeat;background-size: cover;flex-direction: column;justify-content: center;min-height:160px;padding-left:16px;">
                <hr class="blueBorder" style="border-color:white;"/>
                <h2 style="color:white; font-family:Rubik; ">Centralized Administration</h2>
            </div>
        </div>
        
        <div class="col-12 col-md-6" style="display:flex;justify-content:center;align-items:center;">
            <img src="/Images/Centralized Administration.png" style="width:70%;padding-top:5%;"/>
        </div>


    </div>



  <br />

  <section class="mt-4">
        <div class="container">
          <div class="row mt-4">
    
                <div class="col-12">
                    <hr class="blueBorder"/>
                    <h2 style="color:#0097C8; font-family:Rubik;">Configure Watermark Content from one place</h2>
                     <label class="description">The administrator can configure watermark policy and content from one centralized place with easy to use administration backend. </label>
                </div>
          </div>
        </div>


      <div class="px-5" style="background-image: url('../Images/BuisnessSectorBG.png');height: fit-content;background-size: 100% 100%;padding-bottom: 8rem; overflow: hidden;">

           <div class="col-12 mb-4 text-center" style="display:flex;justify-content:center;">
                           <img src="./Images/PCImg.png" width="50%" style="width:450px; padding: 50px 50px 0px 50px;" />
           </div>

        <div class="row" style="display: flex;">
        
                    <div class="col-12 col-md-6 mb-2" style="display:flex;justify-content:start;" >
                        <div class="divContent" style="padding-left:30%">
                            <img src="~/Images/circle.png" style="width:44px ;" />
                            <label style="color:white;font-family:Roboto;font-size:1.0rem;">Web based Adminstration Backend.</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2" style="display:flex;justify-content:start;">
                        <div class="divContent" style="padding-left:20%">
                            <img src="~/Images/circle.png" style="width:44px ;" />
                            <label style="color:white;font-family:Roboto;font-size:1.0rem;padding-left:2px;">Add Watermark Content.</label>
                        </div>
                     </div>

        </div>

          <div class="row" style="display: flex;">
        
                    <div class="col-12 col-md-6 mb-2" style="display:flex;justify-content:start;" >
                        <div class="divContent" style="padding-left:30%">
                            <img src="~/Images/circle.png" style="width:44px ;" />
                            <label style="color:white;font-family:Roboto;font-size:1.0rem;padding-left:2px;">Configure Watermark Policy.</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2" style="display:flex;justify-content:start;" >
                        <div class="divContent" style="padding-left:20%">
                        <img src="~/Images/circle.png" style="width:44px ;" />
                        <label style="color:white;font-family:Roboto;font-size:1.0rem;padding-left:2px;">Configure Watermark Opacity.</label>
                        </div>
                     </div>

        </div>
          <div class="row" style="display: flex;/*flex-wrap: wrap;position: relative;*/">
        
                    <div class="col-12 col-md-6 mb-2" style="display:flex;justify-content:start;">
                        <div class="divContent" style="padding-left:30%">
                        <img src="~/Images/circle.png" style="width:44px ;" />
                        <label style="color:white;font-family:Roboto;font-size:1.0rem;padding-left:2px;">Configure Watermark Content.</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2" style="display:flex;justify-content:start;">
                        <div class="divContent" style="padding-left:20%">
                            <img src="~/Images/circle.png" style="width:44px ;" />
                            <label style="color:white;font-family:Roboto;font-size:1.0rem;padding-left:2px;">Per Application Activation.</label>
                        </div>
                     </div>

        </div>
          <div class="row" style="display: flex;">
        
                    <div class="col-12 col-md-6" style="display:flex;justify-content:start;">
                        <div class="divContent" style="padding-left:30%">
                        <img src="~/Images/circle.png" style="width:44px ;" />
                        <label style="color:white;font-family:Roboto;font-size:1.0rem;padding-left:2px;">Devices Lists.</label>

                    </div>
                    </div>
        </div>
      </div>
    </section>


    <br />


<div class="container">
    <div class="row mt-4">

        <div class="col-12">
            <hr class="blueBorder" />
            <h2 style="color:#0097C8; font-family:Rubik;">Buiness Sectors We Worked With</h2>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-md-4" style="display:flex;justify-content:center;">
                <img src="~/Images/TelecomeNew.png" style="width:80%;" />
            </div>
            <div class="col-12 col-md-4" style="display:flex;justify-content:center;">
                <img src="~/Images/BankingNew.png" style="width:80%;" />
            </div>
            <div class="col-12 col-md-4" style="display:flex;justify-content:center;">
                <img src="~/Images/CallCenterNew.png" style="width:80%;" />
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row mt-4">

        <div class="col-12">
            
            <hr class="blueBorder" />
            <h2 style="color:#0097C8; font-family:Rubik;">Why Enterprises Use ScreenID Watermark?</h2>
            <br />

            <div class="col-12">
            <label class="description">Data leakage can start from the PC monitor, Insiders can capture sensitive data from their computer monitor using their mobile camera and share it outside the organization very quickly.  And there is no way to trace back the leakage or to proof the location of the leakage.</label>
                </div>
                <div class="col-12 mt-4">
                <label class="description"> With ScreenID watermark user information, machine information, and time stamp appear on top of every application running on the user’s machine. any captured image will contain the user information and the machine name. This allows the company to Trace and investigates data breaches in case it happen.</label>
                </div>
        </div>

    </div>
</div>

<br />


 <div class="px-5 mt-5" style="background-image: url('../Images/BG.png');height: fit-content;background-size: 100% 100%;padding-bottom: 6rem; overflow: hidden;">

    <div class="container" >
        <div class="card" style="border-radius:5px;width:80%;margin:0 auto;">
        <div class="row">
           
            <div class="col-12 col-md-12 col-lg-6 p-4">
                
                <hr class="blueBorder" />
                <h2 style="color:#0097C8; font-family:Rubik;">Want to protect your sensitive data from insider's leakage?</h2>
                <div class="mt-3">
                <label class="description" style=""> A watermark on all users screens can protect your data from insiders data leakage and keep employees alerted about the importance of data security.</label>
                </div>

                <div class="mt-4 col-12 col-md-12 col-lg-6">
                    <button class="p-2" style="background-color:transparent; font-family:Roboto; color:#0097C8;border-radius:8px ; border-color:#0097C8;">
                        <i class="fa fa-arrow-right p-1"></i>Connect With Us</button>
                </div>
                
            </div>
            <div class="col-12 col-md-6">
                <img src="~/Images/Connect With Us Img.png" style="width:100%;margin:auto" />
            </div>
          
        </div>
        </div>

        <br />
        <div class="row mt-4">
            <div class="col-12 col-md-6 mt-2">
                <label c style="color:white;font-size:1.5rem;display:flex;font-family:Rubik;"> <i class="fa fa-arrow-right p-2" style="color:#0097C8;"></i>Let us secure your data from internal breaches</label>
            </div>
          
            <div class="col-12 col-md-6 mt-2 text-center d-flex justify-content-center">
                <label  style="color:white;font-family:Roboto; font-size:0.9rem;display:flex;opacity:1;"> When using ScreenID watermark on all users screens, you guarantee a high level of data security even when presented on the user screens!</label>
            </div>

        </div>

        <br />
        <div class="card mt-4" style="border-radius:5px;background-color:#0097C8;">
            <div class="p-2 row">
               <div class="col-12 col-md-4 col-lg-3 text-center mt-2">
                   <label class="description" style="color:white; font-size:1.5rem;">Request A Demo</label>
               </div>
               <div class="col-12 col-md-5 col-lg-6 mt-2" style="display:flex; justify-content:center;">
                   <input type="text" placeholder="Email Address" style="width:100%;" class="form-control"/>
               </div>
               <div class="col-12 col-md-3 mt-2" style="display:flex; justify-content:center;">
                   <button class="p-2" style="background-color:transparent; font-family:Roboto; color:white;border-radius:8px ; border-color:white;">I'am Interested</button>
               </div>
            </div>
        </div>
    </div>
</div>

   <br />
        <div class="container">
            <div class="mt-4 row">
                <div class="col-12">
                <label> Building 9, The District Mall, Sheraton al Mattar, Cairo, Egypt</label>
                </div>
            </div>

            <div class="mt-2 row">
                <div class="col-12 col-md-7 d-flex align-items-center">
                      <label style="color:#0097C8;font-size:1rem;"> Contact Us at BlueCloudCorp.com</label>
                </div>    

               <div class="col-12 col-md-5 ">
                  <a href="#" ><img src="/Images/facebookNew.png" style="width:7%;"/></a>
                  <a href="#" ><img src="/Images/TwitterNew.png" style="width:7%;" /></a>
                  <a href="#" ><img src="/Images/YoutubeNew.png" style="width:7%;" /></a>
                  <a href="#" ><img src="/Images/InstgramNew.png" style="width:7%;" /></a>
               </div>
            </div>
        </div>